.root {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 12px;
  border-bottom: 1px solid #ddd;
  background-color: #f3f3f3;
}

.title {
  font-size: 2rem;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  line-height: 1.167;
  letter-spacing: -0.01562em;
  margin: 0;
}
